<app-header [titulo]="'Facturación'"></app-header>

<ion-content>
    <ion-segment (ionChange)="segmentChanged($event)" value="semanal">
        <ion-segment-button value="semanal">
          <ion-label>SEMANAL</ion-label>
        </ion-segment-button>
        <ion-segment-button value="mensual">
          <ion-label>Mensual</ion-label>
        </ion-segment-button>
        <ion-segment-button value="anual">
            <ion-label>Anual</ion-label>
          </ion-segment-button>
      </ion-segment>
    <div class="container">
        <canvas id="canvas">{{ chart }}</canvas>
    </div>
</ion-content>
