* {
    font-family: 'Quicksand', sans-serif;
}

.add {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filtros {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contain {
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;

    th {
        text-align: center;
        padding: 10px;
    }

    td {
        font-weight: 500;
        padding: 10px;

        ion-icon {
            font-size: 25px;
        }
    }
}

@media (prefers-color-scheme: dark) {
    th, td {
        color: white;
    }
}