<app-header [titulo]="'Categorías'"></app-header>

<ion-content>
  <div class="filtros">
    <ion-searchbar
      id="search"
      placeholder="Busca la categoría..."
      (keyup)="buscarCategoria($event)"
      (ionClear)="buscarCategoria($event, '')"
    ></ion-searchbar>
    <ion-button (click)="addCat = true">Añadir Categoría</ion-button>
  </div>

  <div class="add" *ngIf="addCat">
    <form [formGroup]="form" (ngSubmit)="addCategoria()">
      <div class="input-group input-group-lg mb-3 input">
        <span class="input-group-text label">Nombre</span>
        <input
          type="text"
          class="form-control"
          formControlName="nombre"
          placeholder="Nombre de la categoría ..."
        />
      </div>
      <ion-button
        class="boton"
        color="success"
        type="submit"
        [disabled]="form.invalid"
      >
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-button>
      <ion-button class="boton" color="danger" (click)="addCat = false">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </form>
  </div>

  <div class="contain" *ngIf="sinResultados === false">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th style="width: 110px">ID</th>
          <th style="width: 700px">Nombre</th>
          <th style="width: 300px">Acciones</th>
        </tr>
      </thead>
      <tbody *ngIf="categoriasTemp.length === 0">
        <tr
          *ngFor="let item of variables.categorias | paginate: { itemsPerPage: 8, currentPage: p }"
        >
          <td style="text-align: center">{{ item.id }}</td>
          <td>{{ item.nombre | titlecase }}</td>
          <td style="text-align: center">
            <ion-button color="warning"
              ><ion-icon name="create"></ion-icon
            ></ion-button>
            <ion-button color="danger" (click)="borrarCat(item.id)"
              ><ion-icon name="trash"></ion-icon
            ></ion-button>
          </td>
        </tr>
      </tbody>

      <tbody *ngIf="categoriasTemp.length > 0">
        <tr
          *ngFor="let item of categoriasTemp | paginate: { itemsPerPage: 8, currentPage: p }"
        >
          <td style="text-align: center">{{ item.id }}</td>
          <td>{{ item.nombre | titlecase }}</td>
          <td style="text-align: center">
            <ion-button color="warning"
              ><ion-icon name="create"></ion-icon
            ></ion-button>
            <ion-button color="danger"
              ><ion-icon name="trash"></ion-icon
            ></ion-button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      style="font-weight: bold"
      (pageChange)="p = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente"
    ></pagination-controls>
  </div>

  <div
    *ngIf="categoriasTemp.length === 0 && sinResultados === true"
    class="p-3 mt-3"
  >
    <p class="text-center" style="font-size: 1.2em">
      No hay resultados con su búsqueda.
    </p>
    <p class="text-center text-secondary" style="font-size: 1.2em">
      Intente con algunas de las siguientes palabras: corte, mechas, peinado,
      etc
    </p>
  </div>
</ion-content>
