<app-header [titulo]="'Reservas'"></app-header>

<div class="contenedor">
    <div class="left">
        <full-calendar [options]="calendarOptions" class="calendar"></full-calendar>
        <ion-button expand="block" (click)="router.navigateByUrl('/add-reserva')">Crear reserva</ion-button>
    </div>
    <div class="right">
        <h1 class="titulo">Lista de reservas del {{ parsearDia(diaSeleccionado) }}</h1>
        <div *ngIf="reservasDia.length > 0">

            <ion-card *ngFor="let reserva of reservasDia" class="item">
                <ion-card-title style="font-size: 1.3em;"><strong>{{ reserva.nombre | uppercase }}</strong></ion-card-title>
                <ion-card-title class="hora"><ion-icon name="time-outline" style="margin-right: 5px;"></ion-icon> {{ reserva.horaInicio }} - {{ reserva.horaFin }}</ion-card-title>
                <ion-card-title *ngIf="reserva.pagado === true">{{ reserva.uid }} - Pagado online</ion-card-title>
                <ion-card-title *ngIf="reserva.pagado === false">{{ reserva.uid }} - Pendiente de pago</ion-card-title>
            </ion-card>
        </div>
        

        <div *ngIf="reservasDia.length === 0" class="sin-citas">
            <p>No hay citas para el día seleccionado.</p>
        </div>
    </div>
</div>
