* {
    font-family: 'Quicksand', sans-serif;
}

.contenedor {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left {
    width: 40%;
    padding: 20px;
    height: 80%;
}

.right {
    width: 60%;
    padding: 20px;
}

.calendar {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    font-weight: bold;
    cursor: pointer;
}

.titulo {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
    font-weight: bold;
}

.item {
    font-size: 1.2em;
    margin-top: 10px;
    padding: 10px;

    ion-card-title {
        margin: 5px 0;
    }
}

.hora {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sin-citas {
    p {
        text-align: center;
        font-size: 1.2em;
    }
}

.button {
    font-weight: bold;
}

.col-button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    button {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        padding: 5px;
        margin: 5px;

        ion-icon {
            font-size: 35px;
            color: white;
        }
    }

    ion-icon {
        font-size: 1.4em;
    }
}

.completada {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    ion-badge {
        font-size: 20px;
        border-radius: 20px;
        padding: 10px;
    }
}